header {
  width: 100%;
  width: calc(100% - 8px);
  max-width: inherit;
  position: fixed;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid $white;
  z-index: 669;
  background: $black;
}

// SHARED NAV STYLES FOR TOP AND BOTTOM
ul.nav {
  display: flex;
  height: 100%;
  margin: 0;

  li {
    width: 33.33%;
    height: 100%;
  }

  a {
    color: $white;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 13px 0;
    padding-bottom: 9px;
    text-align: center;
    transition: .2s all ease;
    background: #000;
    height: 100%;
    font-size: 13px;

    &:hover,
    &:focus {
      background: lighten($black, 14);
      transition: .2s all ease;
      animation: blink 0.16s linear infinite;
    }
  }

  li:not(:last-child) {
    border-right: 1px solid white;
  }
}

main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}
.nightizm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 666;
  .nightizm-title {
    margin: 0;
    margin-top: -8px;
    margin-bottom: -8px;
    font-size: 14rem;
    color: $white;
    // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: red;
    @include respond-to('tablet') {
      margin-top: -2px;
      margin-bottom: 0;
      font-size: 7rem;
    }
    @include respond-to('mobile') {
      margin-bottom: -3px;
      margin-top: 4px;
      font-size: 5.6rem;
    }
  }
  .nightizm-sub-title {
    color: $white;
    font-family: $font-heading;
    font-size: 17px;
    margin: 0;
    text-transform: uppercase;
    @include respond-to('mobile') {
      font-size: 13px;
    }
  }
  .cta-container {
    margin-top: 8px;
    @include respond-to('mobile') {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    @include respond-to('mobile') {
      // margin-top: 7px;
    }
  }
  a.nightizm-latest-release {
    color: $white;
    background: #000;
    border: 1px solid $white;
    border-radius: 1px;
    padding: 10px 12px;
    padding-bottom: 5px;
    padding-right: 8px;
    margin-top: 0px;
    margin-right: 6px;
    font-size: 13px;
    text-transform: uppercase;
    transition: all .4s ease;
    position: relative;
    @include respond-to('mobile') {
      margin-top: 20px;
      margin-right: 0;
    }
  }
  a.cta-subscribe {
    color: $white;
    background: #000;
    border: 1px solid $white;
    border-radius: 1px;
    padding: 10px 12px;
    padding-bottom: 5px;
    padding-right: 9px;
    margin-top: 0px;
    font-size: 13px;
    text-transform: uppercase;
    transition: all .4s ease;
    width: auto;
  }
  a.nightizm-latest-release:focus,
  a.nightizm-latest-release:hover {
    background: lighten($black, 14);
    transition: all .4s ease;
  }
  a.cta-subscribe:focus,
  a.cta-subscribe:hover {
    background: lighten($black, 14);
    transition: all .4s ease;
  }
}

.pics-carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -666;
  filter: grayscale(66%);
  .pics {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.mailchimp {
  width: 400px;
  border: 1px solid $white;
  border-radius: 1px;
  @include respond-to('mobile') {
    width: 90%;
  }
  .mailchimp-input-container {
    display: flex;
    @include respond-to('mobile') {
      flex-direction: column;
    }
  }
  .mailchimp-input-container label {
    display: none;
  }
  .mailchimp-input {
    background: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.9);
    background: $white;
    width: 100%;
    border: none;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .4s all ease;
    font-size: 13px;
    text-transform: uppercase;
    color: darken($grey, 44);
    @include respond-to('mobile') {
      text-align: center;
      padding: 5px 10px;
      padding-top: 9px;
    }
    &::placeholder {
      font-size: 13px;
      text-transform: uppercase;
      color: darken($grey, 14);
    }
    &:focus {
      border-left: 7px solid $grey;
      outline: none;
      transition: .4s all ease;
    }
  }
  .mailchimp-subscribe {
    background: #000;
    color: $white;
    border: none;
    border-left: none;
    padding: 10px 12px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 13px;
    transition: .2s all ease;
    @include respond-to('mobile') {
      width: 100%;
      // text-align: left;
    }
    &:hover {
      background: $light-grey;
      color: $black;
      border-left: 1px solid $black;
      transition: .2s all ease;
      @include respond-to('mobile') {
        border-left: none;
      }
    }
  }
    .mailchimp-subscribe {
    background: #000;
    color: $white;
    border: none;
    border-left: none;
    padding: 10px 12px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 13px;
    transition: .2s all ease;
    @include respond-to('mobile') {
      width: 100%;
      // text-align: left;
    }
    &:hover {
      background: $light-grey;
      color: $black;
      border-left: 1px solid $black;
      transition: .2s all ease;
      @include respond-to('mobile') {
        border-left: none;
      }
    }
  }
}

footer {
  border-top: 1px solid $white;
  width: 100%;
  width: calc(100% - 8px);
  max-width: inherit;
  position: fixed;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  background: $black;
  z-index: 669;
}
