//? set your brand colors

$white: #fff;

$light-grey: #dfdfdf;
$grey: #d0d0d0;

$black-ish: #444;
$black: #09090e;

$blue: #2c638f;
$pink: #fff0f5;
$yellow: #fffacd;

//? override for project clarity

$color-primary: $blue;
$color-secondary: $pink;
$color-tertiary: $yellow;

@keyframes blink {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}