*::selection {
  background: $pink;
}

body {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
  background-size: 29px 28px;
  // background-image: radial-gradient(circle, blue, green 1px, rgba(255, 255, 255, 0.6) 1px, rgba(255, 255, 255, 0.6));
  // background: lighten($black, 1);
  background: $white;
  height: 100vh;
  border: 4px solid $grey;
}

.wrapper {
  max-width: 100%;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $blue;
}

ul {
  list-style: none;
  padding: 0;
}