/* advent-pro-regular - latin */
@font-face {
  font-family: 'Bodoni 72';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-guntur-regular - latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Guntur Regular'), local('HindGuntur-Regular'),
    url('fonts/hind-guntur-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/hind-guntur-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//! set font variables
$font-heading: 'Bodoni 72', 'Georgia', serif;
$font-body: 'Hind Guntur', sans-serif;


html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: $font-body;
  font-size: 1.6rem;
  font-weight: 400;
  color: $black;
}

h1 {
  font-family: $font-heading, serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem;
}

ul.nav {
  // font-weight: 100;
}